        <section placeholder="intro">
            <div class="mb-5 px-5 fw-light" >
                <p class="text-center">Join us as we discover the exciting world of technology. Thank you for visiting our blog. Enjoy reading our articles as much as we enjoy writing them!</p>
            </div>
        </section>

  {{#each posts}}
  {{> blogposts}}
{{/each}}